@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

.font-OpenSans{
    font-family: 'Open Sans', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}
